body{
font-family: cursive;
font-style:italic;
}

a:link {
color: teal;
text-decoration: none;
}

a:visited {
color:darkmagenta;
text-decoration: none;
}

a:hover {
color:blue;
text-decoration: underline;
border-radius: 100px;
background-image:linear-gradient(to right,purple,indigo,blue,green,yellow,orange,red);
}

a:active {
opacity: 0;
}

h1 {
 
 color: #8a2be2;
 border-radius: 25px;
}

* {
   border: 5px solid;
   text-shadow:blueviolet 1px 1px;
}

h2 {
 color:tomato;
 border-radius: 25px;
}

h3 {
 color:teal;
 border-radius: 25px;
}


.header {
display: flex;
background-image: radial-gradient(circle,violet, indigo, blue, green, yellow, orange, red);
border-color: white;

}

.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
border-color: white;
background-image: url("background.jpg");
}

.origami {
display: flex;
flex-wrap: wrap;
background-image: linear-gradient(to right,black,grey,white,grey,black);
border-color: white;
width: 350px;
flex-wrap: wrap;
}

.footer {
display: flex;
background-image: radial-gradient(black,blueviolet);
border-color: white;
}

.info {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: black;
color: white
}

li {
border-radius: 25px;
}

img {
border-radius: 100px;

}

img:hover {
border-radius: 50px;
background-image: radial-gradient(black,grey,darkgrey,white,darkgrey,grey,black);
}